{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Books</h1>

    <table class="table">
        {% if books|length > 0 %}
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Price</th>
            <th>Category</th>
            <th>Signed</th>
            <th>CreatedAt</th>
            <th>PublishedAt</th>
            <th>EditedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        {% endif %}

        <tbody>

        {% if hasCategories %}
            <a href="{{ path('app_category_index') }}">Categories</a>
        {% else %}
            <a href="{{ path('app_category_new') }}">Add Category</a>
        {% endif %}

        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.signed ? 'Yes' : 'No' }}</td>
                <td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book.editedAt ? book.editedAt|date('Y-m-d H:i:s') : 'Never Edited' }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if hasCategories %}
        <a href="{{ path('app_book_new') }}">Create new</a>
    {% endif %}
{% endblock %}
